<!DOCTYPE html>
<html>
  <head>
    <title>layout</title>
    <meta charset="UTF-8" />
    <link href="css/layout.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav>
          <a href="#" class="button-7">7</a>
          <ul class="menubar">
            <li><a href="#">home</a></li>
            <li><a href="#" class="button-2">folder</a></li>
            <li><a href="#">section</a></li>
            <li><a href="#">header</a></li>
            <li><a href="#">footer</a></li>
            <li><a href="#">link</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="div-1 div1">
      <div class="container">
        <div class="div11">
          <details class="span1">
            <summary>home</summary>
            <p>About normal</p>
          </details>

          <span class="span2">About normal</span>
        </div>
      </div>
    </div>
    <section class="section-1">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="div-1 space">
              <h2 class="heading-1">hi! we are seven company</h2>
              <h3 class="heading-2">
                we craft innovative high end digital solution for client
                worldwide.
              </h3>
              <p class="pragraph">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock,
              </p>
              <p class="pragraph">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock,
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="div-2"><img src="images/firstimage.jpg" alt="" /></div>
          </div>
          <div class="col-6">
            <div class="div-3"><img src="images/secondimage.jpg" alt="" /></div>
          </div>
          <div class="col-6">
            <div class="div-4 space">
              <h3 class="heading-2">principles of our work</h3>
              <p class="pragraph">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock,
              </p>
              <p>
                <i class="fa-solid fa-book-open icon" style="color: #117818"></i
                >luctus nec ullamcoper
              </p>
              <p>
                <i class="fa-solid fa-key icon" style="color: #117818"></i>lorem
                dolor sit amet glavride
              </p>
              <p>
                <i
                  class="fa-solid fa-arrow-rotate-right icon"
                  style="color: #117818"
                ></i
                >100% elit tellus lacuts
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="div-5 space">
              <h2 class="heading-1">hi! we are seven company</h2>
              <h3 class="heading-2">
                we craft innovative high end digital solution for client
                worldwide.
              </h3>
              <p class="pragraph">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock,
              </p>
              <p class="pragraph">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock,
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="div-6"><img src="images/firstimage.jpg" alt="" /></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2 background">
      <div class="container">
        <div class="dd">
          <h1>
            we are open for new projects. let's bring your creative ideas to
            life together!
          </h1>
          <div class="div-d">
            <span class="pp"
              ><i
                class="fa-solid fa-phone-volume icon-2"
                style="color: #fcfcfd"
              ></i
              >+001 234 5678</span
            >
            <a href="#" class="button-3">contact us online</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="dd">
            <i class="fa-solid fa-envelope" style="color: #2b6313"></i>
            <h6>hello@dream-theme.com</h6>
            <p class="ppp"> general question and partnersip</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dd">
            <i class="fa-solid fa-envelope" style="color: #2b6313"></i>
            <h6>hello@dream-theme.com</h6>
            <p class="ppp"> general question and partnersip</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dd">
            <i class="fa-solid fa-envelope" style="color: #2b6313"></i>
            <h6>hello@dream-theme.com</h6>
            <p class="ppp"> general question and partnersip</p>
          </div>
        </div>
      </div>
      </div>
    </footer>
    
  </body>
</html>
