*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;

}
ul,li{
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-color: #ffffff;

}
.nav{
    overflow: auto;
}
.logo{
    color: #008000;
    float: left;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.logo i{
    font-size:30px ;
    vertical-align: middle;
}
.menubar{
    float: right;
}
.menubar li{
    display: inline-block;
}
.color{
    color: #000000;
}
.menubar li a{
    display: inline-block;
    padding: 20px 20px;
}
.download{
    background-color: #008000;
    border: 1px solid #000000;
    border-radius: 30px;
    padding:  10px 20px;
    color: #000000;
    display: inline-block;
}
.herosection img{
    width: 100%;
}
.section2{
    padding: 100px 0;
}
.herosection2 img{
    width: 100%;
}
.section{
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}

.herosection3 img{
    width: 100%;
}
.row{
    overflow: auto;
    margin: 0 -15px;
}
.column{
    width: 50%;
    float: left;
    padding: 0 15px;
}
.textimagebox h2{
    font-size: 60px;
    padding-top: 200px;

}

.textimagebox p{
    font-size: 20px;
    padding: 20px 0;
    
}
.textimagebox a{
    font-size: 20px;
    text-decoration: underline;
    color: #000000;
}
.section3{
    padding: 100px 0;
    background-color: #000000;
}
.textimagebox1 h2{
    font-size: 60px;
    padding-top: 200px;

}
.textimagebox1{
    text-align: left;
    color: #ffffff;
}
.textimagebox1 p{
    font-size: 20px;
    padding: 20px 0;
    
}
.textimagebox1 a{
    font-size: 20px;
    text-decoration: underline;
    color: #ffffff;
}
.section4{
    padding: 100px 0;
}
.textimagebox2 h2{
    font-size: 60px;
    padding-top: 200px;

}

.textimagebox2 p{
    font-size: 20px;
    padding: 20px 0;
    
}
.textimagebox2 a{
    font-size: 20px;
    text-decoration: underline;
    color: #000000;
}
.back{
    background-image: url("backimg.png");
    width: 50%;
}
.section5{
    padding: 100px 0;
}
.section6{
    padding: 100px 0;
}


